<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=divice-width" />
    <title>영화 리스트</title>
  </head>
  <body>
    {%for review in reviews%}
    <a href="{% url 'reviews:detail' review.id %}"> <h2>제목 : {{review.title}}</h2> </a> <br />
    <br />
    <h4>개봉 년도 : {{review.year}}</h4>
    <br />
    <h4>장르 : {{review.get_genre_display}}</h4>
    <br />
    <h4>별점 : {{review.star}}</h4>
    <br />
    <h4>상영 시간 : {{review.time}}</h4>
    {%endfor%}
    <a href="{% url 'reviews:create' %}">리뷰 작성</a> <br />
  </body>
</html>