body {
    background-color: black;
}
#menu a {
    text-decoration-line: none;
    color: white;
}
#menu {
    margin-left: 100px;
}

.box1 {
    float:left; 
    width:200px; 
    height:100px; 
    background-color:#234234;
}
.box2 {
    display:inline-block; 
    width:200px; height:100px; 
    background-color:#666666; 
    margin-left:10px;
}  
#center{
    position: relative;
    width:300px;
    height:200px;
    background:darkgoldenrod;
    
}
