table,
td {
    border: 1px solid #333;
}

thead {
    background-color: #333;
    color: #fff;
}



.mainBox {
    position: absolute;
    top: 50%;
    left: 50%;
    border: solid 1px black;
    width: 400px;
    height: 160px;
    margin-left: -200px;
    margin-top: -80px;
}

.mainBox {
    padding: 5%;
    text-align: center;
}
.mainBox > .list-table {
    display: inline-block;
}




